__pycache__/
.idea/
.ipynb_checkpoints/
*.py[cod]
*.so
*.orig
*.o
*.json
*.pth
*.npy
*.ipynb
data/
models/
log/
smpl_files/
smpl_model_data/
smplx/
train_log/
romp/
archive/
build
*.jpg
*.png
*.ply
*.zip
# *.sh
outputs/
eval_log/
*.bak*
smpl_files/
smpl_model_data/